<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div id="header">
            <p>Placeholder for BYU-I logo</p>
            <h1>HVAC Stewardship Manager</h1>
            <h1>Air Ventilation Unit</h1>
        </div>
        <div id="nav">
            <% include partials/nav.ejs %>
        </div>
        <div id="content">
            <div id="map">

            </div>
            <div id="details">

            </div>
        </div>
        <div id="footer">

        </div>
    </body>
</html>