<!DOCTYPE html>
<html>
    <head>
        <title>Building</title>
    </head>
    <body>
        <div id="header">
            <p>Placeholder for BYU-I logo</p>
            <h1>HVAC Stewardship Manager</h1>
            <h1>Building</h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/createAvu?buildingName=<%= name%>&id=<%= _id.toString()%>">New AVU</a></li>
                <li><a href="/createFan">New Fan</a></li>

            </ul>
        </div>
        <div id="content">
            <div id="map">

            </div>
            <div id="details">

            </div>
            <div id="avus">

            </div>
            <div id="fans">

            </div>

        </div>
        <div id="footer">

        </div>
    </body>
</html>