<!DOCTYPE html>
<html>
    <head>
        <title>New Building</title>
    </head>
    <body>
        <div id="header">
            <img src=""/>
            <h1>HVAC Stewardship Manager</h1>
            <h1>New Building</h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="/home">Home</a></li>
            </ul>
        </div>
        <div id="content">
            <form action="/saveBuilding" method="post">
                <div id="details">
                    <p>Name:</p>
                    <input type="text" name="name"><br>
                </div>
                <div id="map">

                </div>
                <input type="submit" value="Save Building"/>
            </form>
        </div>

        <div id="footer">

        </div>
    </body>
</html>