<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div id="header">

        </div>
        <div id="nav">
            <% include partials/nav.ejs %>
        </div>
        <div id="content">
            <div id="map">

            </div>
            <div id="details">

            </div>
        </div>
        <div id="footer">

        </div>
    </body>
</html>