<!DOCTYPE html>
<html>
    <head>
        <title>New <%=docType%></title>
    </head>
    <body>
        <div id="header">

        </div>
        <div id="nav">

        </div>
        <div id="content">
            <div id="map">

            </div>
            <div id="details">
                <% if(docType === 'building') {%>
                    <form>

                    </form>
                <%}%>
                <% if(docType === 'avu') {%>

                <%}%>
                <% if(docType === 'fan') {%>

                <%}%>
                <% if(docType === 'belt') {%>

                <%}%>
                <% if(docType === 'filter') {%>

                <%}%>
            </div>
        </div>
        <div id="footer">

        </div>
    </body>
</html>